@{
    ViewData["Title"] = "Home Page";
}

<div>
    <draggable></draggable>
</div>


@section Scripts{

    <script src="~/js/router.js"></script>
    <script src="~/js/mixin.js"></script>

    <script>
        let vm = new Vue({
            mixins: [mixin],
            data() {
                return {
                    base: 'Welcome',
                    base2: 'building Web apps with ASP.NET Core'
                }
            },
            components: {
                'draggable': httpVueLoader('../component/draggable.vue')
            },
            created() {

            },
            computed: {

            },
            methods: {

            },
            mounted() {
               
            },
            el: "#app"
        })
    </script>
}